<div align=center><h1>Individual Project Nº1</h1>
<h4>Salomón Orozco Jaramillo</h4>
<h4>ETL (Extract, Transform, Load)</h4>
</div>

## Importing Libs

In [138]:
# Importing necessary libraries
import ast  # For working with Python literal syntax
import json  # For working with JSON files
import pandas as pd  # For data manipulation
import nltk  # Natural Language Toolkit
import re # Regular Expression library
import nltk # Use the nltk library with vader_lexicon and sentiment to transform reviews into sentiment scores
nltk.download('vader_lexicon') # Download  VADER lexicon from NLTK
from nltk.sentiment.vader import SentimentIntensityAnalyzer # Initiate  the sentiment analyzer

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\pc\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

## australian_users_items.json etl

In [139]:
# Creating a list for the items
review = []
# Opening json
with open('datasets/australian_users_items.json', 'r', encoding='utf-8') as usersItemJson:
    for line in usersItemJson:
        # Append json items to the list
        review.append(ast.literal_eval(line))
# Close the json file explicitly
usersItemJson.close()
# Creating a dataframe
df_user_items = pd.DataFrame(review)
# Viewing the dataframe
df_user_items

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

### Desempaquetar la columna 'Items'

In [140]:
# Unpacking the 'Items' column
data_user_temp1 = df_user_items.explode(['items'])
# Normalizing JSON data in the 'items' column
data_user_temp2 = pd.json_normalize(data_user_temp1['items']).set_index(data_user_temp1['items'].index)
# Concatenating normalized data with the original DataFrame
data_user_temp3 = pd.concat([data_user_temp2, data_user_temp1], axis=1)
# Updating the original DataFrame with the concatenated data
df_user_items = data_user_temp3

In [141]:
# Remove the 'items' column from the DataFrame
df_user_items = df_user_items.drop('items', axis=1)

In [142]:
# View DataFrame
df_user_items

,item_id,item_name,playtime_forever,playtime_2weeks,user_id,items_count,steam_id,user_url
0,10,Counter-Strike,6.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
0,20,Team Fortress Classic,0.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
0,30,Day of Defeat,7.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
0,40,Deathmatch Classic,0.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
0,50,Half-Life: Opposing Force,0.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
...,...,...,...,...,...,...,...,...
88308,373330,All Is Dust,0.0,0.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
88308,388490,One Way To Die: Steam Edition,3.0,3.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
88308,521570,You Have 10 Seconds 2,4.0,4.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
88308,519140,Minds Eyes,3.0,3.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
88309,NaN,NaN,NaN,NaN,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick

In [143]:
# Check the 'item_id' content data for a specific user ('76561198329548331')
df_user_items.loc[df_user_items['user_id'] == '76561198329548331']

#df_user_items['steam_id'].info()

,item_id,item_name,playtime_forever,playtime_2weeks,user_id,items_count,steam_id,user_url
88308,304930,Unturned,677.0,677.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
88308,227940,Heroes & Generals,43.0,43.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
88308,346330,BrainBread 2,0.0,0.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
88308,373330,All Is Dust,0.0,0.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
88308,388490,One Way To Die: Steam Edition,3.0,3.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
88308,521570,You Have 10 Seconds 2,4.0,4.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
88308,519140,Minds Eyes,3.0,3.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...

In [144]:
# Calculate the number of null values per column in df_user_items
null_per_col = df_user_items.isnull().sum()

#null_per_col

In [145]:
# Remove columns that are not needed
df_user_items = df_user_items.drop('user_url', axis=1)
df_user_items = df_user_items.drop('items_count', axis=1)

In [146]:
# View DataFrame

df_user_items

,item_id,item_name,playtime_forever,playtime_2weeks,user_id,steam_id
0,10,Counter-Strike,6.0,0.0,76561197970982479,76561197970982479
0,20,Team Fortress Classic,0.0,0.0,76561197970982479,76561197970982479
0,30,Day of Defeat,7.0,0.0,76561197970982479,76561197970982479
0,40,Deathmatch Classic,0.0,0.0,76561197970982479,76561197970982479
0,50,Half-Life: Opposing Force,0.0,0.0,76561197970982479,76561197970982479
...,...,...,...,...,...,...
88308,373330,All Is Dust,0.0,0.0,76561198329548331,76561198329548331
88308,388490,One Way To Die: Steam Edition,3.0,3.0,76561198329548331,76561198329548331
88308,521570,You Have 10 Seconds 2,4.0,4.0,76561198329548331,76561198329548331
88308,519140,Minds Eyes,3.0,3.0,76561198329548331,76561198329548331
88309,NaN,NaN,NaN,NaN,edward_tremethick,76561198331598578

In [147]:
# Display information about df_user_items
df_user_items.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5170015 entries, 0 to 88309
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   item_id           object
 1   item_name         object
 2   playtime_forever  float64
 3   playtime_2weeks   float64
 4   user_id           object
 5   steam_id          object
dtypes: float64(2), object(4)
memory usage: 276.1+ MB

In [148]:
# Find NaN values and drop corresponding rows for specific columns
df_user_items = df_user_items.dropna(subset=['item_id'])
df_user_items = df_user_items.dropna(subset=['item_name'])
df_user_items = df_user_items.dropna(subset=['playtime_forever'])
df_user_items = df_user_items.dropna(subset=['playtime_2weeks'])
df_user_items = df_user_items.dropna(subset=['steam_id'])
df_user_items = df_user_items.dropna(subset=['user_id'])

In [149]:
# Dictionary mapping old column names to new column names
column_mapping = {
    'user_id': 'User_Id',
    'item_id': 'Item_Id',
    'playtime_forever': 'Playtime_Forever',
    'item_name': 'Item_Name',
    'steam_id': 'Steam_Id',
    'playtime_2weeks': 'Playtime_2Weeks'
}

# Rename columns using the dictionary
df_user_items = df_user_items.rename(columns=column_mapping)

In [150]:
# View Dataframe
df_user_items

,Item_Id,Item_Name,Playtime_Forever,Playtime_2Weeks,User_Id,Steam_Id
0,10,Counter-Strike,6.0,0.0,76561197970982479,76561197970982479
0,20,Team Fortress Classic,0.0,0.0,76561197970982479,76561197970982479
0,30,Day of Defeat,7.0,0.0,76561197970982479,76561197970982479
0,40,Deathmatch Classic,0.0,0.0,76561197970982479,76561197970982479
0,50,Half-Life: Opposing Force,0.0,0.0,76561197970982479,76561197970982479
...,...,...,...,...,...,...
88308,346330,BrainBread 2,0.0,0.0,76561198329548331,76561198329548331
88308,373330,All Is Dust,0.0,0.0,76561198329548331,76561198329548331
88308,388490,One Way To Die: Steam Edition,3.0,3.0,76561198329548331,76561198329548331
88308,521570,You Have 10 Seconds 2,4.0,4.0,76561198329548331,76561198329548331
88308,519140,Minds Eyes,3.0,3.0,76561198329548331,76561198329548331

In [151]:
# Get DataFrame info
df_user_items.info()
duplicates = df_user_items.duplicated()
print(duplicates.sum())

<class 'pandas.core.frame.DataFrame'>
Index: 5153209 entries, 0 to 88308
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   Item_Id           object
 1   Item_Name         object
 2   Playtime_Forever  float64
 3   Playtime_2Weeks   float64
 4   User_Id           object
 5   Steam_Id          object
dtypes: float64(2), object(4)
memory usage: 275.2+ MB
59104

### Export Data Files

In [152]:
# Save the DataFrame to a CSV file
df_user_items.to_csv('CSV/user_items.csv', index=False)

In [153]:
# Save the DataFrame to a compressed Parquet file
df_user_items.to_parquet('GZIP/user_items.gzip', compression='gzip')

## output_steam_games.json etl

In [154]:
# List to store JSON objects
games = []
# Read 'output_steam_games.json' line by line and load as JSON
with open('datasets/output_steam_games.json', 'r', encoding='utf-8') as f:
    for line in f.readlines():
        games.append(json.loads(line))
# Create a DataFrame from the list of JSON objects
df_steam_games = pd.DataFrame(games)

In [155]:
# View DataFrame
df_steam_games

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,False,773640,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,False,733530,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,"xropi,stev3ns"
120444,NaN,NaN,Maze Run VR,NaN,http://store.steampowered.com/app/681550/Maze_...,NaN,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,True,681550,NaN

In [156]:
# Dictionary mapping old column names to new column names
column_mapping = {
    'publisher': 'Publisher',
    'genres': 'Genres',
    'app_name': 'App_Name',
    'title': 'Title',
    'url': 'Url',
    'release_date': 'Release_Date',
    'tags': 'Tags',
    'reviews_url': 'Reviews_Url',
    'specs': 'Specs',
    'price': 'Price',
    'early_access': 'Early_Access',
    'id': 'Id',
    'developer': 'Developer'
}
# Rename columns using the dictionary
df_steam_games = df_steam_games.rename(columns=column_mapping)

In [157]:
# View new column names
df_steam_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Publisher     24083 non-null  object
 1   Genres        28852 non-null  object
 2   App_Name      32133 non-null  object
 3   Title         30085 non-null  object
 4   Url           32135 non-null  object
 5   Release_Date  30068 non-null  object
 6   Tags          31972 non-null  object
 7   Reviews_Url   32133 non-null  object
 8   Specs         31465 non-null  object
 9   Price         30758 non-null  object
 10  Early_Access  32135 non-null  object
 11  Id            32133 non-null  object
 12  Developer     28836 non-null  object
dtypes: object(13)
memory usage: 11.9+ MB

In [158]:
def normalize_col(col):
    """
    Normalize a developer name by removing non-alphabetic characters,
    converting to lowercase, and removing extra whitespaces.
    """
    if isinstance(col, str):  # Verify if it is a string
        cleaned_name = re.sub(r'[^a-zA-Z\s]', '', col)
        new_name = re.sub(r'\s+', ' ', cleaned_name.lower().strip())
        return new_name
    else:
        return col

# Apply the normalize_col function to the 'Publisher' column
df_steam_games['Publisher'] = df_steam_games['Publisher'].apply(normalize_col)

In [159]:
# Remove the 'Url' column
df_steam_games.drop('Url', axis=1, inplace=True)

In [160]:
df_steam_games

,Publisher,Genres,App_Name,Title,Release_Date,Tags,Reviews_Url,Specs,Price,Early_Access,Id,Developer
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
120440,ghostrus games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,False,773640,"Nikita ""Ghost_RUS"""
120441,sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,False,733530,Sacada
120442,laush studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,Laush Dmitriy Sergeevich
120443,sixnails,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,"xropi,stev3ns"
120444,NaN,NaN,Maze Run VR,NaN,NaN,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,True,681550,NaN

In [161]:
# Function to convert float to string
def float_to_string(value):
    """
    Convert a float to string. If the value is not a float, return it unchanged.
    """
    if isinstance(value, float):
        return str(value)
    return value
# Apply the float_to_str function to the 'Publisher' column
df_steam_games['Publisher'] = df_steam_games['Publisher'].apply(float_to_string)

In [162]:
# Capitalize the first letter of each word in the 'Publisher' column
df_steam_games['Publisher'] = df_steam_games['Publisher'].str.title()

In [163]:
# Count Null values in 'Publisher'
nullPublisher = df_steam_games['Publisher'].isnull().sum()
print("Null values in 'Publisher':",nullPublisher)

# Count NaN values in 'Publisher'
nans_as_strings = (df_steam_games['Publisher'].str.lower() == 'nan').sum()
# Print the number of NaN values represented as strings in 'Publisher'
print("NaN values in 'Publisher':", nans_as_strings)
print('--------')
# Count Null values in 'Publisher'
nullPublisher = df_steam_games['Genres'].isnull().sum()
print("Null values in 'Genres':",nullPublisher)

Null values in 'Publisher': 0
NaN values in 'Publisher': 96362
--------
Null values in 'Genres': 91593

In [164]:
# Check Genres content
print(df_steam_games['Genres'])

0                                           NaN
1                                           NaN
2                                           NaN
3                                           NaN
4                                           NaN
                          ...
120440    [Casual, Indie, Simulation, Strategy]
120441                [Casual, Indie, Strategy]
120442              [Indie, Racing, Simulation]
120443                          [Casual, Indie]
120444                                      NaN
Name: Genres, Length: 120445, dtype: object

In [165]:
# Convert the values in the 'Genres' column to a comma-separated string
df_steam_games['Genres'] = df_steam_games['Genres'].astype(str).apply(lambda x: ', '.join(filter(None, x.split(','))))

In [166]:
df_steam_games

,Publisher,Genres,App_Name,Title,Release_Date,Tags,Reviews_Url,Specs,Price,Early_Access,Id,Developer
0,Nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghostrus Games,"['Casual', 'Indie', 'Simulation', 'Strategy']",Colony On Mars,Colony On Mars,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,False,773640,"Nikita ""Ghost_RUS"""
120441,Sacada,"['Casual', 'Indie', 'Strategy']",LOGistICAL: South Africa,LOGistICAL: South Africa,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,False,733530,Sacada
120442,Laush Studio,"['Indie', 'Racing', 'Simulation']",Russian Roads,Russian Roads,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,False,610660,Laush Dmitriy Sergeevich
120443,Sixnails,"['Casual', 'Indie']",EXIT 2 - Directions,EXIT 2 - Directions,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,False,658870,"xropi,stev3ns"
120444,Nan,nan,Maze Run VR,NaN,NaN,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,True,681550,NaN

In [167]:
# Remove rows with NaN values in 'Genres'
df_steam_games.dropna(subset=['Genres'], inplace=True)

In [168]:
df_steam_games['Genres']

0                                                      nan
1                                                      nan
2                                                      nan
3                                                      nan
4                                                      nan
                                ...
120440    ['Casual',  'Indie',  'Simulation',  'Strategy']
120441                   ['Casual',  'Indie',  'Strategy']
120442                 ['Indie',  'Racing',  'Simulation']
120443                                ['Casual',  'Indie']
120444                                                 nan
Name: Genres, Length: 120445, dtype: object

In [169]:
df_steam_games['Specs']

0                                                       NaN
1                                                       NaN
2                                                       NaN
3                                                       NaN
4                                                       NaN
                                ...
120440                  [Single-player, Steam Achievements]
120441    [Single-player, Steam Achievements, Steam Clou...
120442    [Single-player, Steam Achievements, Steam Trad...
120443     [Single-player, Steam Achievements, Steam Cloud]
120444    [Single-player, Stats, Steam Leaderboards, HTC...
Name: Specs, Length: 120445, dtype: object

In [170]:
# Count null values in 'Specs'
nullSpecs = df_steam_games['Specs'].isnull().sum()
# Print the number of null values in 'Specs'
print("Null values in 'Specs':", nullSpecs)

Null values in 'Specs': 88980

In [171]:
# Remove rows with NaN values in 'Specs'
df_steam_games.dropna(subset=['Specs'], inplace=True)

In [172]:
# Extract 'Specs' specifications
df_steam_games['Specs'] = df_steam_games['Specs'].apply(lambda x: ', '.join(filter(None, x)))

In [173]:
df_steam_games

,Publisher,Genres,App_Name,Title,Release_Date,Tags,Reviews_Url,Specs,Price,Early_Access,Id,Developer
88310,Kotoshiro,"['Action', 'Casual', 'Indie', 'Simulation',...",Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,Single-player,4.99,False,761140,Kotoshiro
88311,Making Fun Inc,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,Ironbound,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"Single-player, Multi-player, Online Multi-Play...",Free To Play,False,643980,Secret Level SRL
88312,Poolianscom,"['Casual', 'Free to Play', 'Indie', 'Simula...",Real Pool 3D - Poolians,Real Pool 3D - Poolians,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"Single-player, Multi-player, Online Multi-Play...",Free to Play,False,670290,Poolians.com
88313,,"['Action', 'Adventure', 'Casual']",弹炸人2222,弹炸人2222,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,Single-player,0.99,False,767400,彼岸领域
88314,Nan,nan,Log Challenge,NaN,NaN,"[Action, Indie, Casual, Sports]",http://steamcommunity.com/app/773570/reviews/?...,"Single-player, Full controller support, HTC Vi...",2.99,False,773570,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghostrus Games,"['Casual', 'Indie', 'Simulation', 'Strategy']",Colony On Mars,Colony On Mars,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"Single-player, Steam Achievements",1.99,False,773640,"Nikita ""Ghost_RUS"""
120441,Sacada,"['Casual', 'Indie', 'Strategy']",LOGistICAL: South Africa,LOGistICAL: South Africa,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"Single-player, Steam Achievements, Steam Cloud...",4.99,False,733530,Sacada
120442,Laush Studio,"['Indie', 'Racing', 'Simulation']",Russian Roads,Russian Roads,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"Single-player, Steam Achievements, Steam Tradi...",1.99,False,610660,Laush Dmitriy Sergeevich
120443,Sixnails,"['Casual', 'Indie']",EXIT 2 - Directions,EXIT 2 - Directions,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"Single-player, Steam Achievements, Steam Cloud",4.99,False,658870,"xropi,stev3ns"
120444,Nan,nan,Maze Run VR,NaN,NaN,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"Single-player, Stats, Steam Leaderboards, HTC ...",4.99,True,681550,NaN

In [174]:
# Count null values in 'title'
null_count = df_steam_games['Title'].isnull().sum()
# Print the number of null values in 'title'
print(f"Null values in 'Title': {null_count}")
# Count null app_name in 'App_name'
null_count = df_steam_games['App_Name'].isnull().sum()
# Print the number of null values in 'title'
print(f"Null values in 'App_Name': {null_count}")

Null values in 'Title': 2049
Null values in 'App_Name': 1

In [175]:
# Drop Title column
df_steam_games = df_steam_games.drop('Title', axis=1)

In [176]:
# remove Na in App_Name
df_steam_games.dropna(subset=['App_Name'], inplace=True)

In [177]:
df_steam_games

,Publisher,Genres,App_Name,Release_Date,Tags,Reviews_Url,Specs,Price,Early_Access,Id,Developer
88310,Kotoshiro,"['Action', 'Casual', 'Indie', 'Simulation',...",Lost Summoner Kitty,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,Single-player,4.99,False,761140,Kotoshiro
88311,Making Fun Inc,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"Single-player, Multi-player, Online Multi-Play...",Free To Play,False,643980,Secret Level SRL
88312,Poolianscom,"['Casual', 'Free to Play', 'Indie', 'Simula...",Real Pool 3D - Poolians,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",http://steamcommunity.com/app/670290/reviews/?...,"Single-player, Multi-player, Online Multi-Play...",Free to Play,False,670290,Poolians.com
88313,,"['Action', 'Adventure', 'Casual']",弹炸人2222,2017-12-07,"[Action, Adventure, Casual]",http://steamcommunity.com/app/767400/reviews/?...,Single-player,0.99,False,767400,彼岸领域
88314,Nan,nan,Log Challenge,NaN,"[Action, Indie, Casual, Sports]",http://steamcommunity.com/app/773570/reviews/?...,"Single-player, Full controller support, HTC Vi...",2.99,False,773570,NaN
...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghostrus Games,"['Casual', 'Indie', 'Simulation', 'Strategy']",Colony On Mars,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"Single-player, Steam Achievements",1.99,False,773640,"Nikita ""Ghost_RUS"""
120441,Sacada,"['Casual', 'Indie', 'Strategy']",LOGistICAL: South Africa,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"Single-player, Steam Achievements, Steam Cloud...",4.99,False,733530,Sacada
120442,Laush Studio,"['Indie', 'Racing', 'Simulation']",Russian Roads,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"Single-player, Steam Achievements, Steam Tradi...",1.99,False,610660,Laush Dmitriy Sergeevich
120443,Sixnails,"['Casual', 'Indie']",EXIT 2 - Directions,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"Single-player, Steam Achievements, Steam Cloud",4.99,False,658870,"xropi,stev3ns"
120444,Nan,nan,Maze Run VR,NaN,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"Single-player, Stats, Steam Leaderboards, HTC ...",4.99,True,681550,NaN

In [178]:
# Normalize App_Name column names
df_steam_games['App_Name'] = df_steam_games['App_Name'].apply(normalize_col)

In [179]:
# Capitalize App name column
df_steam_games['App_Name'] = df_steam_games['App_Name'].str.title()

In [180]:
# Remove columns 'reviews_url' and 'tags'
remove_columns = ['Reviews_Url', 'Tags']
df_steam_games = df_steam_games.drop(columns=remove_columns)

In [181]:
# View DataFrame
df_steam_games

,Publisher,Genres,App_Name,Release_Date,Specs,Price,Early_Access,Id,Developer
88310,Kotoshiro,"['Action', 'Casual', 'Indie', 'Simulation',...",Lost Summoner Kitty,2018-01-04,Single-player,4.99,False,761140,Kotoshiro
88311,Making Fun Inc,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018-01-04,"Single-player, Multi-player, Online Multi-Play...",Free To Play,False,643980,Secret Level SRL
88312,Poolianscom,"['Casual', 'Free to Play', 'Indie', 'Simula...",Real Pool D Poolians,2017-07-24,"Single-player, Multi-player, Online Multi-Play...",Free to Play,False,670290,Poolians.com
88313,,"['Action', 'Adventure', 'Casual']",,2017-12-07,Single-player,0.99,False,767400,彼岸领域
88314,Nan,nan,Log Challenge,NaN,"Single-player, Full controller support, HTC Vi...",2.99,False,773570,NaN
...,...,...,...,...,...,...,...,...,...
120440,Ghostrus Games,"['Casual', 'Indie', 'Simulation', 'Strategy']",Colony On Mars,2018-01-04,"Single-player, Steam Achievements",1.99,False,773640,"Nikita ""Ghost_RUS"""
120441,Sacada,"['Casual', 'Indie', 'Strategy']",Logistical South Africa,2018-01-04,"Single-player, Steam Achievements, Steam Cloud...",4.99,False,733530,Sacada
120442,Laush Studio,"['Indie', 'Racing', 'Simulation']",Russian Roads,2018-01-04,"Single-player, Steam Achievements, Steam Tradi...",1.99,False,610660,Laush Dmitriy Sergeevich
120443,Sixnails,"['Casual', 'Indie']",Exit Directions,2017-09-02,"Single-player, Steam Achievements, Steam Cloud",4.99,False,658870,"xropi,stev3ns"
120444,Nan,nan,Maze Run Vr,NaN,"Single-player, Stats, Steam Leaderboards, HTC ...",4.99,True,681550,NaN

In [182]:
# Convert 'Release_Date' to datetime objects
df_steam_games['Release_Date'] = pd.to_datetime(df_steam_games['Release_Date'], dayfirst=True, errors='coerce')

In [183]:
# Null columns in 'Release_Date'
null_release = df_steam_games['Release_Date'].isnull().sum()
print(null_release)

20314

In [184]:
# remove na from Release_Date
df_steam_games.dropna(subset = ['Release_Date'], inplace=True)

In [185]:
df_steam_games

,Publisher,Genres,App_Name,Release_Date,Specs,Price,Early_Access,Id,Developer
88310,Kotoshiro,"['Action', 'Casual', 'Indie', 'Simulation',...",Lost Summoner Kitty,2018-04-01,Single-player,4.99,False,761140,Kotoshiro
88311,Making Fun Inc,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018-04-01,"Single-player, Multi-player, Online Multi-Play...",Free To Play,False,643980,Secret Level SRL
88313,,"['Action', 'Adventure', 'Casual']",,2017-07-12,Single-player,0.99,False,767400,彼岸领域
88315,Trickjump Games Ltd,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,2018-04-01,"Single-player, Steam Achievements",3.99,False,772540,Trickjump Games Ltd
88316,Nan,"['Free to Play', 'Indie', 'Simulation', 'Sp...",Snow All Access Basic Pass,2018-04-01,"Single-player, Multi-player, Online Multi-Play...",9.99,False,774276,Poppermost Productions
...,...,...,...,...,...,...,...,...,...
120439,Bidoniera Games,"['Action', 'Adventure', 'Casual', 'Indie']",Kebab It Up,2018-04-01,"Single-player, Steam Achievements, Steam Cloud",1.99,False,745400,Bidoniera Games
120440,Ghostrus Games,"['Casual', 'Indie', 'Simulation', 'Strategy']",Colony On Mars,2018-04-01,"Single-player, Steam Achievements",1.99,False,773640,"Nikita ""Ghost_RUS"""
120441,Sacada,"['Casual', 'Indie', 'Strategy']",Logistical South Africa,2018-04-01,"Single-player, Steam Achievements, Steam Cloud...",4.99,False,733530,Sacada
120442,Laush Studio,"['Indie', 'Racing', 'Simulation']",Russian Roads,2018-04-01,"Single-player, Steam Achievements, Steam Tradi...",1.99,False,610660,Laush Dmitriy Sergeevich
120443,Sixnails,"['Casual', 'Indie']",Exit Directions,2017-02-09,"Single-player, Steam Achievements, Steam Cloud",4.99,False,658870,"xropi,stev3ns"

In [186]:
# Add column 'Release_Year' with the year from 'Release_Date'
df_steam_games['Release_Year'] = pd.to_datetime(df_steam_games['Release_Date']).dt.year

In [187]:
# View DataFrame
df_steam_games

,Publisher,Genres,App_Name,Release_Date,Specs,Price,Early_Access,Id,Developer,Release_Year
88310,Kotoshiro,"['Action', 'Casual', 'Indie', 'Simulation',...",Lost Summoner Kitty,2018-04-01,Single-player,4.99,False,761140,Kotoshiro,2018
88311,Making Fun Inc,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018-04-01,"Single-player, Multi-player, Online Multi-Play...",Free To Play,False,643980,Secret Level SRL,2018
88313,,"['Action', 'Adventure', 'Casual']",,2017-07-12,Single-player,0.99,False,767400,彼岸领域,2017
88315,Trickjump Games Ltd,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,2018-04-01,"Single-player, Steam Achievements",3.99,False,772540,Trickjump Games Ltd,2018
88316,Nan,"['Free to Play', 'Indie', 'Simulation', 'Sp...",Snow All Access Basic Pass,2018-04-01,"Single-player, Multi-player, Online Multi-Play...",9.99,False,774276,Poppermost Productions,2018
...,...,...,...,...,...,...,...,...,...,...
120439,Bidoniera Games,"['Action', 'Adventure', 'Casual', 'Indie']",Kebab It Up,2018-04-01,"Single-player, Steam Achievements, Steam Cloud",1.99,False,745400,Bidoniera Games,2018
120440,Ghostrus Games,"['Casual', 'Indie', 'Simulation', 'Strategy']",Colony On Mars,2018-04-01,"Single-player, Steam Achievements",1.99,False,773640,"Nikita ""Ghost_RUS""",2018
120441,Sacada,"['Casual', 'Indie', 'Strategy']",Logistical South Africa,2018-04-01,"Single-player, Steam Achievements, Steam Cloud...",4.99,False,733530,Sacada,2018
120442,Laush Studio,"['Indie', 'Racing', 'Simulation']",Russian Roads,2018-04-01,"Single-player, Steam Achievements, Steam Tradi...",1.99,False,610660,Laush Dmitriy Sergeevich,2018
120443,Sixnails,"['Casual', 'Indie']",Exit Directions,2017-02-09,"Single-player, Steam Achievements, Steam Cloud",4.99,False,658870,"xropi,stev3ns",2017

In [188]:
# apply float_to_string function to 'Genres' column
df_steam_games['Genres'] = df_steam_games['Genres'].apply(float_to_string)

In [189]:
df_steam_games

,Publisher,Genres,App_Name,Release_Date,Specs,Price,Early_Access,Id,Developer,Release_Year
88310,Kotoshiro,"['Action', 'Casual', 'Indie', 'Simulation',...",Lost Summoner Kitty,2018-04-01,Single-player,4.99,False,761140,Kotoshiro,2018
88311,Making Fun Inc,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018-04-01,"Single-player, Multi-player, Online Multi-Play...",Free To Play,False,643980,Secret Level SRL,2018
88313,,"['Action', 'Adventure', 'Casual']",,2017-07-12,Single-player,0.99,False,767400,彼岸领域,2017
88315,Trickjump Games Ltd,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,2018-04-01,"Single-player, Steam Achievements",3.99,False,772540,Trickjump Games Ltd,2018
88316,Nan,"['Free to Play', 'Indie', 'Simulation', 'Sp...",Snow All Access Basic Pass,2018-04-01,"Single-player, Multi-player, Online Multi-Play...",9.99,False,774276,Poppermost Productions,2018
...,...,...,...,...,...,...,...,...,...,...
120439,Bidoniera Games,"['Action', 'Adventure', 'Casual', 'Indie']",Kebab It Up,2018-04-01,"Single-player, Steam Achievements, Steam Cloud",1.99,False,745400,Bidoniera Games,2018
120440,Ghostrus Games,"['Casual', 'Indie', 'Simulation', 'Strategy']",Colony On Mars,2018-04-01,"Single-player, Steam Achievements",1.99,False,773640,"Nikita ""Ghost_RUS""",2018
120441,Sacada,"['Casual', 'Indie', 'Strategy']",Logistical South Africa,2018-04-01,"Single-player, Steam Achievements, Steam Cloud...",4.99,False,733530,Sacada,2018
120442,Laush Studio,"['Indie', 'Racing', 'Simulation']",Russian Roads,2018-04-01,"Single-player, Steam Achievements, Steam Tradi...",1.99,False,610660,Laush Dmitriy Sergeevich,2018
120443,Sixnails,"['Casual', 'Indie']",Exit Directions,2017-02-09,"Single-player, Steam Achievements, Steam Cloud",4.99,False,658870,"xropi,stev3ns",2017

In [190]:
# Function to check if a value is a string and convert to 0
def string_to_zero(value):
    if isinstance(value, str):
        return 0
    else:
        return value

In [191]:
# Check na in 'Price' column
df_steam_games['Price'].isna().sum()

375

In [192]:
# Delete na rows in 'Price' column
df_steam_games.dropna(subset= ['Price'], inplace=True)

In [193]:
# Apply the string_to_zero function in the free to play column
df_steam_games['Price'] = df_steam_games['Price'].apply(string_to_zero)

In [194]:
# Check the number of non-numeric rows in the 'Price' column
non_numeric_count = pd.to_numeric(df_steam_games['Price'], errors='coerce').isnull().sum()
print(f"Number of rows with non-numeric values in 'Price': {non_numeric_count}")

Number of rows with non-numeric values in 'Price': 0

In [195]:
# Convert 'Price' column to float type
df_steam_games['Price'] = df_steam_games['Price'].astype(float)

In [196]:
df_steam_games['Early_Access'].info()

<class 'pandas.core.series.Series'>
Index: 10775 entries, 88310 to 120443
Series name: Early_Access
Non-Null Count  Dtype
--------------  -----
10775 non-null  object
dtypes: object(1)
memory usage: 168.4+ KB

In [197]:
# Convert objet to bool
df_steam_games['Early_Access'] = df_steam_games['Early_Access'].astype(bool)

In [198]:
# Count null values in 'Early_Access'
null_count = df_steam_games['Early_Access'].isnull().sum()
# Print the number of null values in 'Early_Access' column
print("\nNumber of null values in 'Early_Access' column:", null_count)

Number of null values in 'Early_Access' column: 0

In [199]:
# Check Developer names
df_steam_games

,Publisher,Genres,App_Name,Release_Date,Specs,Price,Early_Access,Id,Developer,Release_Year
88310,Kotoshiro,"['Action', 'Casual', 'Indie', 'Simulation',...",Lost Summoner Kitty,2018-04-01,Single-player,4.99,False,761140,Kotoshiro,2018
88311,Making Fun Inc,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018-04-01,"Single-player, Multi-player, Online Multi-Play...",0.00,False,643980,Secret Level SRL,2018
88313,,"['Action', 'Adventure', 'Casual']",,2017-07-12,Single-player,0.99,False,767400,彼岸领域,2017
88315,Trickjump Games Ltd,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,2018-04-01,"Single-player, Steam Achievements",3.99,False,772540,Trickjump Games Ltd,2018
88316,Nan,"['Free to Play', 'Indie', 'Simulation', 'Sp...",Snow All Access Basic Pass,2018-04-01,"Single-player, Multi-player, Online Multi-Play...",9.99,False,774276,Poppermost Productions,2018
...,...,...,...,...,...,...,...,...,...,...
120439,Bidoniera Games,"['Action', 'Adventure', 'Casual', 'Indie']",Kebab It Up,2018-04-01,"Single-player, Steam Achievements, Steam Cloud",1.99,False,745400,Bidoniera Games,2018
120440,Ghostrus Games,"['Casual', 'Indie', 'Simulation', 'Strategy']",Colony On Mars,2018-04-01,"Single-player, Steam Achievements",1.99,False,773640,"Nikita ""Ghost_RUS""",2018
120441,Sacada,"['Casual', 'Indie', 'Strategy']",Logistical South Africa,2018-04-01,"Single-player, Steam Achievements, Steam Cloud...",4.99,False,733530,Sacada,2018
120442,Laush Studio,"['Indie', 'Racing', 'Simulation']",Russian Roads,2018-04-01,"Single-player, Steam Achievements, Steam Tradi...",1.99,False,610660,Laush Dmitriy Sergeevich,2018
120443,Sixnails,"['Casual', 'Indie']",Exit Directions,2017-02-09,"Single-player, Steam Achievements, Steam Cloud",4.99,False,658870,"xropi,stev3ns",2017

In [200]:
# Normalize 'Developer' names
df_steam_games['Developer'] = df_steam_games['Developer'].apply(normalize_col)

In [201]:
# Capitalize the first letter of each word in 'Developer' column
df_steam_games['Developer'] = df_steam_games['Developer'].str.title()

In [202]:
# Count null values in 'Developer' column
null_count = df_steam_games['Developer'].isnull().sum()
# Print the number of null values in 'Developer' column
print("\nNumber of null values in 'Developer' column:", null_count)

Number of null values in 'Developer' column: 400

In [203]:
# Count null values in 'Developer' column
null_count = df_steam_games['Id'].isnull().sum()
# Print the number of null values in 'Developer' column
print("\nNumber of null values in 'Id' column:", null_count)

Number of null values in 'Id' column: 1

In [204]:
# Drop rows with null values in 'Developer' column
df_steam_games.dropna(subset=['Developer'], inplace=True)

In [205]:
# Drop rows with null values in 'Developer' column
df_steam_games.dropna(subset=['Id'], inplace=True)

In [206]:
# Count null values in 'Developer' column
null_count = df_steam_games['Id'].isnull().sum()
# Print the number of null values in 'Developer' column
print("\nNumber of null values in 'id' column:", null_count)

Number of null values in 'id' column: 0

In [207]:
df_steam_games

,Publisher,Genres,App_Name,Release_Date,Specs,Price,Early_Access,Id,Developer,Release_Year
88310,Kotoshiro,"['Action', 'Casual', 'Indie', 'Simulation',...",Lost Summoner Kitty,2018-04-01,Single-player,4.99,False,761140,Kotoshiro,2018
88311,Making Fun Inc,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018-04-01,"Single-player, Multi-player, Online Multi-Play...",0.00,False,643980,Secret Level Srl,2018
88313,,"['Action', 'Adventure', 'Casual']",,2017-07-12,Single-player,0.99,False,767400,,2017
88315,Trickjump Games Ltd,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,2018-04-01,"Single-player, Steam Achievements",3.99,False,772540,Trickjump Games Ltd,2018
88316,Nan,"['Free to Play', 'Indie', 'Simulation', 'Sp...",Snow All Access Basic Pass,2018-04-01,"Single-player, Multi-player, Online Multi-Play...",9.99,False,774276,Poppermost Productions,2018
...,...,...,...,...,...,...,...,...,...,...
120439,Bidoniera Games,"['Action', 'Adventure', 'Casual', 'Indie']",Kebab It Up,2018-04-01,"Single-player, Steam Achievements, Steam Cloud",1.99,False,745400,Bidoniera Games,2018
120440,Ghostrus Games,"['Casual', 'Indie', 'Simulation', 'Strategy']",Colony On Mars,2018-04-01,"Single-player, Steam Achievements",1.99,False,773640,Nikita Ghostrus,2018
120441,Sacada,"['Casual', 'Indie', 'Strategy']",Logistical South Africa,2018-04-01,"Single-player, Steam Achievements, Steam Cloud...",4.99,False,733530,Sacada,2018
120442,Laush Studio,"['Indie', 'Racing', 'Simulation']",Russian Roads,2018-04-01,"Single-player, Steam Achievements, Steam Tradi...",1.99,False,610660,Laush Dmitriy Sergeevich,2018
120443,Sixnails,"['Casual', 'Indie']",Exit Directions,2017-02-09,"Single-player, Steam Achievements, Steam Cloud",4.99,False,658870,Xropistevns,2017

In [208]:
df_steam_games.columns

Index(['Publisher', 'Genres', 'App_Name', 'Release_Date', 'Specs', 'Price',
       'Early_Access', 'Id', 'Developer', 'Release_Year'],
      dtype='object')

In [209]:
# New columns order
new_order = ['Id','App_Name','Price','Release_Year','Release_Date','Genres','Early_Access','Specs','Developer', 'Publisher']
df_steam_games= df_steam_games[new_order]

In [210]:
df_steam_games

,Id,App_Name,Price,Release_Year,Release_Date,Genres,Early_Access,Specs,Developer,Publisher
88310,761140,Lost Summoner Kitty,4.99,2018,2018-04-01,"['Action', 'Casual', 'Indie', 'Simulation',...",False,Single-player,Kotoshiro,Kotoshiro
88311,643980,Ironbound,0.00,2018,2018-04-01,"['Free to Play', 'Indie', 'RPG', 'Strategy']",False,"Single-player, Multi-player, Online Multi-Play...",Secret Level Srl,Making Fun Inc
88313,767400,,0.99,2017,2017-07-12,"['Action', 'Adventure', 'Casual']",False,Single-player,,
88315,772540,Battle Royale Trainer,3.99,2018,2018-04-01,"['Action', 'Adventure', 'Simulation']",False,"Single-player, Steam Achievements",Trickjump Games Ltd,Trickjump Games Ltd
88316,774276,Snow All Access Basic Pass,9.99,2018,2018-04-01,"['Free to Play', 'Indie', 'Simulation', 'Sp...",False,"Single-player, Multi-player, Online Multi-Play...",Poppermost Productions,Nan
...,...,...,...,...,...,...,...,...,...,...
120439,745400,Kebab It Up,1.99,2018,2018-04-01,"['Action', 'Adventure', 'Casual', 'Indie']",False,"Single-player, Steam Achievements, Steam Cloud",Bidoniera Games,Bidoniera Games
120440,773640,Colony On Mars,1.99,2018,2018-04-01,"['Casual', 'Indie', 'Simulation', 'Strategy']",False,"Single-player, Steam Achievements",Nikita Ghostrus,Ghostrus Games
120441,733530,Logistical South Africa,4.99,2018,2018-04-01,"['Casual', 'Indie', 'Strategy']",False,"Single-player, Steam Achievements, Steam Cloud...",Sacada,Sacada
120442,610660,Russian Roads,1.99,2018,2018-04-01,"['Indie', 'Racing', 'Simulation']",False,"Single-player, Steam Achievements, Steam Tradi...",Laush Dmitriy Sergeevich,Laush Studio
120443,658870,Exit Directions,4.99,2017,2017-02-09,"['Casual', 'Indie']",False,"Single-player, Steam Achievements, Steam Cloud",Xropistevns,Sixnails

In [211]:
# Remove '[' and ']' characters as well as single quotes from the 'Genres' column
df_steam_games['Genres'] = df_steam_games['Genres'].str.replace(r"[\[\]']", '', regex=True)

In [212]:
df_steam_games

,Id,App_Name,Price,Release_Year,Release_Date,Genres,Early_Access,Specs,Developer,Publisher
88310,761140,Lost Summoner Kitty,4.99,2018,2018-04-01,"Action, Casual, Indie, Simulation, Strategy",False,Single-player,Kotoshiro,Kotoshiro
88311,643980,Ironbound,0.00,2018,2018-04-01,"Free to Play, Indie, RPG, Strategy",False,"Single-player, Multi-player, Online Multi-Play...",Secret Level Srl,Making Fun Inc
88313,767400,,0.99,2017,2017-07-12,"Action, Adventure, Casual",False,Single-player,,
88315,772540,Battle Royale Trainer,3.99,2018,2018-04-01,"Action, Adventure, Simulation",False,"Single-player, Steam Achievements",Trickjump Games Ltd,Trickjump Games Ltd
88316,774276,Snow All Access Basic Pass,9.99,2018,2018-04-01,"Free to Play, Indie, Simulation, Sports",False,"Single-player, Multi-player, Online Multi-Play...",Poppermost Productions,Nan
...,...,...,...,...,...,...,...,...,...,...
120439,745400,Kebab It Up,1.99,2018,2018-04-01,"Action, Adventure, Casual, Indie",False,"Single-player, Steam Achievements, Steam Cloud",Bidoniera Games,Bidoniera Games
120440,773640,Colony On Mars,1.99,2018,2018-04-01,"Casual, Indie, Simulation, Strategy",False,"Single-player, Steam Achievements",Nikita Ghostrus,Ghostrus Games
120441,733530,Logistical South Africa,4.99,2018,2018-04-01,"Casual, Indie, Strategy",False,"Single-player, Steam Achievements, Steam Cloud...",Sacada,Sacada
120442,610660,Russian Roads,1.99,2018,2018-04-01,"Indie, Racing, Simulation",False,"Single-player, Steam Achievements, Steam Tradi...",Laush Dmitriy Sergeevich,Laush Studio
120443,658870,Exit Directions,4.99,2017,2017-02-09,"Casual, Indie",False,"Single-player, Steam Achievements, Steam Cloud",Xropistevns,Sixnails

In [213]:
# Save the DataFrame to a Parquet file with gzip compression
df_steam_games.to_parquet('GZIP/df_steam_games.gzip', compression='gzip')
# Save the DataFrame to a CSV file without including the index column
df_steam_games.to_csv('CSV/steam_games.csv', index=False)

## australian_user_reviews.json etl

In [214]:
# Creating a list for the items
review = []
# Opening json
with open('datasets/australian_user_reviews.json', 'r', encoding='utf-8') as usersRevJson:
    for line in usersRevJson:
        # Append json items to the list
        review.append(ast.literal_eval(line))
# Close the json file explicitly
usersItemJson.close()
# Creating a dataframe
df_user_rev = pd.DataFrame(review)
# Viewing the dataframe
df_user_rev

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

In [215]:
# Explode data from the 'reviews' column and create new columns
allReviews = df_user_rev.explode('reviews') 
df_user_rev = pd.concat([allReviews.drop(['reviews'], axis=1), allReviews['reviews'].apply(pd.Series)], axis=1)
# View Dataframe
df_user_rev

,user_id,user_url,funny,posted,last_edited,item_id,helpful,recommend,review,0
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,NaN
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.,NaN
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,NaN
1,js41637,http://steamcommunity.com/id/js41637,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,NaN
1,js41637,http://steamcommunity.com/id/js41637,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,NaN
...,...,...,...,...,...,...,...,...,...,...
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...,NaN
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...,NaN
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...,NaN
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,,Posted July 20.,,730,No ratings yet,True,:D,NaN
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,,Posted July 2.,,440,No ratings yet,True,so much fun :D,NaN

In [216]:
# Remove the first newly created column and the 'user_url' column
df_user_rev = df_user_rev.drop([0, 'user_url'], axis=1)
df_user_rev

,user_id,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
0,76561197970982479,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
0,76561197970982479,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
1,js41637,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
1,js41637,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...,...,...
25797,76561198312638244,,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...
25797,76561198312638244,,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...
25798,LydiaMorley,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...
25798,LydiaMorley,,Posted July 20.,,730,No ratings yet,True,:D
25798,LydiaMorley,,Posted July 2.,,440,No ratings yet,True,so much fun :D

In [217]:
# Change the names of the columns
df_user_rev = df_user_rev.rename(columns={'user_id': 'User_Id', 'posted': 'Posted', 'item_id': 'Item_Id', 'helpful': 'Helpful', 'recommend': 'Recommend', 'review': 'Review'})
df_user_rev

,User_Id,funny,Posted,last_edited,Item_Id,Helpful,Recommend,Review
0,76561197970982479,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
0,76561197970982479,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
0,76561197970982479,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
1,js41637,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
1,js41637,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...,...,...
25797,76561198312638244,,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...
25797,76561198312638244,,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...
25798,LydiaMorley,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...
25798,LydiaMorley,,Posted July 20.,,730,No ratings yet,True,:D
25798,LydiaMorley,,Posted July 2.,,440,No ratings yet,True,so much fun :D

In [218]:
# Counting NaN values in the 'User_Id' column
nan_count = df_user_rev['User_Id'].isna().sum()
print("Number of NaN values in User_Id column:", nan_count)

Number of NaN values in User_Id column: 0

In [219]:
# Count empty values in the 'funny' column
empty_count = df_user_rev['funny'].value_counts()['']
# Calculate the total percentage of empty values relative to the total number of rows
total_rows = len(df_user_rev)
empty_percentage = (empty_count / total_rows) * 100
# Print the number of empty values in the 'funny' column
print("Number of empty values in the 'funny' column:", empty_count)
# Print the total percentage of empty values in the 'funny' column
print("Total percentage of empty values in the 'funny' column: {:.2f}%".format(empty_percentage))

Number of empty values in the 'funny' column: 51154
Total percentage of empty values in the 'funny' column: 86.22%

In [220]:
# Count empty values in the 'last_edited' column
empty_count_last_edited = (df_user_rev['last_edited'] == '').sum()
# Calculate the total percentage of empty values in the 'last_edited' column
total_rows = len(df_user_rev)
empty_percentage_last_edited = (empty_count_last_edited / total_rows) * 100
# Print the number of empty values in the 'last_edited' column
print("Number of empty values in the 'last_edited' column:", empty_count_last_edited)
# Print the total percentage of empty values in the 'last_edited' column
print("Total percentage of empty values in the 'last_edited' column: {:.2f}%".format(empty_percentage_last_edited))

Number of empty values in the 'last_edited' column: 53165
Total percentage of empty values in the 'last_edited' column: 89.60%

In [221]:
# Remove the 'funny' and 'last_edited' columns due to having more than 80% NaN values
df_user_rev = df_user_rev.drop(columns=['funny', 'last_edited'])

In [222]:
# Count null 'posted'
null_in_Posted = df_user_rev['Posted'].isnull().sum()
print("Val Null 'posted':", null_in_Posted)

Val Null 'posted': 28

In [223]:
# Drop rows with null values in the 'Posted' column
df_user_rev.dropna(subset=['Posted'], inplace=True)

In [224]:
df_user_rev

,User_Id,Posted,Item_Id,Helpful,Recommend,Review
0,76561197970982479,"Posted November 5, 2011.",1250,No ratings yet,True,Simple yet with great replayability. In my opi...
0,76561197970982479,"Posted July 15, 2011.",22200,No ratings yet,True,It's unique and worth a playthrough.
0,76561197970982479,"Posted April 21, 2011.",43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
1,js41637,"Posted June 24, 2014.",251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
1,js41637,"Posted September 8, 2013.",227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...
25797,76561198312638244,Posted July 10.,70,No ratings yet,True,a must have classic from steam definitely wort...
25797,76561198312638244,Posted July 8.,362890,No ratings yet,True,this game is a perfect remake of the original ...
25798,LydiaMorley,Posted July 3.,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...
25798,LydiaMorley,Posted July 20.,730,No ratings yet,True,:D
25798,LydiaMorley,Posted July 2.,440,No ratings yet,True,so much fun :D

In [225]:
# Remove the text "Posted" from the dates in the 'Posted' column
df_user_rev['Posted'] = df_user_rev['Posted'].str.replace('Posted ', '')

In [226]:
df_user_rev['Posted']

0         November 5, 2011.
0            July 15, 2011.
0           April 21, 2011.
1            June 24, 2014.
1        September 8, 2013.
                ...
25797              July 10.
25797               July 8.
25798               July 3.
25798              July 20.
25798               July 2.
Name: Posted, Length: 59305, dtype: object

In [227]:
# Format the data in the 'Posted' column to datetime, assigning NaT (Not a Time) to impossible formats
df_user_rev['Posted'] = pd.to_datetime(df_user_rev['Posted'], dayfirst=True, errors='coerce')

In [228]:
df_user_rev

,User_Id,Posted,Item_Id,Helpful,Recommend,Review
0,76561197970982479,2011-11-05,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
0,76561197970982479,2011-07-15,22200,No ratings yet,True,It's unique and worth a playthrough.
0,76561197970982479,2011-04-21,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
1,js41637,2014-06-24,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
1,js41637,2013-09-08,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...
25797,76561198312638244,NaT,70,No ratings yet,True,a must have classic from steam definitely wort...
25797,76561198312638244,NaT,362890,No ratings yet,True,this game is a perfect remake of the original ...
25798,LydiaMorley,NaT,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...
25798,LydiaMorley,NaT,730,No ratings yet,True,:D
25798,LydiaMorley,NaT,440,No ratings yet,True,so much fun :D

In [229]:
# Remove rows with NaT (Not a Time) values in the 'Posted' column
df_user_rev.dropna(subset=['Posted'], inplace=True)

In [230]:
# Check if the format is correct (YYYY-MM-DD)
df_user_rev['Posted'] = pd.to_datetime(df_user_rev['Posted']).dt.strftime('%Y-%m-%d')

In [231]:
df_user_rev

,User_Id,Posted,Item_Id,Helpful,Recommend,Review
0,76561197970982479,2011-11-05,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
0,76561197970982479,2011-07-15,22200,No ratings yet,True,It's unique and worth a playthrough.
0,76561197970982479,2011-04-21,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
1,js41637,2014-06-24,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
1,js41637,2013-09-08,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...
25764,wayfeng,2015-10-14,730,1 of 1 people (100%) found this review helpful,True,its FUNNNNNNNN
25765,76561198251004808,2015-10-10,253980,No ratings yet,True,Awesome fantasy game if you don't mind the gra...
25769,72947282842,2015-10-31,730,No ratings yet,True,Prettyy Mad Game
25771,ApxLGhost,2015-12-14,730,No ratings yet,True,AMAZING GAME 10/10
25780,76561198267374962,2015-12-29,369200,1 of 2 people (50%) found this review helpful,True,Why I voted yes? 1. Girl characters have boobs...

In [232]:
# Add a new column 'Year' containing the year extracted from the 'Posted' column
df_user_rev['Year'] = pd.to_datetime(df_user_rev['Posted']).dt.year

In [233]:
# Display the count of null values in each column of the DataFrame
null_values = df_user_rev.isnull().sum()
print(null_values)
df_user_rev

User_Id      0
Posted       0
Item_Id      0
Helpful      0
Recommend    0
Review       0
Year         0
dtype: int64

,User_Id,Posted,Item_Id,Helpful,Recommend,Review,Year
0,76561197970982479,2011-11-05,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,2011
0,76561197970982479,2011-07-15,22200,No ratings yet,True,It's unique and worth a playthrough.,2011
0,76561197970982479,2011-04-21,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,2011
1,js41637,2014-06-24,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,2014
1,js41637,2013-09-08,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,2013
...,...,...,...,...,...,...,...
25764,wayfeng,2015-10-14,730,1 of 1 people (100%) found this review helpful,True,its FUNNNNNNNN,2015
25765,76561198251004808,2015-10-10,253980,No ratings yet,True,Awesome fantasy game if you don't mind the gra...,2015
25769,72947282842,2015-10-31,730,No ratings yet,True,Prettyy Mad Game,2015
25771,ApxLGhost,2015-12-14,730,No ratings yet,True,AMAZING GAME 10/10,2015
25780,76561198267374962,2015-12-29,369200,1 of 2 people (50%) found this review helpful,True,Why I voted yes? 1. Girl characters have boobs...,2015

In [234]:
# Remove the 'Helpful' column from the DataFrame
df_user_rev = df_user_rev.drop(columns=['Helpful'])

In [235]:
df_user_rev

,User_Id,Posted,Item_Id,Recommend,Review,Year
0,76561197970982479,2011-11-05,1250,True,Simple yet with great replayability. In my opi...,2011
0,76561197970982479,2011-07-15,22200,True,It's unique and worth a playthrough.,2011
0,76561197970982479,2011-04-21,43110,True,Great atmosphere. The gunplay can be a bit chu...,2011
1,js41637,2014-06-24,251610,True,I know what you think when you see this title ...,2014
1,js41637,2013-09-08,227300,True,For a simple (it's actually not all that simpl...,2013
...,...,...,...,...,...,...
25764,wayfeng,2015-10-14,730,True,its FUNNNNNNNN,2015
25765,76561198251004808,2015-10-10,253980,True,Awesome fantasy game if you don't mind the gra...,2015
25769,72947282842,2015-10-31,730,True,Prettyy Mad Game,2015
25771,ApxLGhost,2015-12-14,730,True,AMAZING GAME 10/10,2015
25780,76561198267374962,2015-12-29,369200,True,Why I voted yes? 1. Girl characters have boobs...,2015

In [236]:
# Initialize the sentiment analyzer
sentiment_analyzer = SentimentIntensityAnalyzer()

# Function to assign sentiment scores according to the scale
def sentiment_score(text):
    if pd.isnull(text) or text == '':
        return 1  # Return neutral if it is empty or NaN
    elif isinstance(text, str):
        sentiment_score = sentiment_analyzer.polarity_scores(text)
        sentiment_score = sentiment_score['compound']
        if sentiment_score >= -0.05:
            return 2  # Good score
        elif sentiment_score <= -0.05:
            return 0  # Bad score
        else:
            return 1  # Neutral score
    else:
        return 1  # Return neutral for non-string values

# Convert the 'Review' column to string
df_user_rev['Review'] = df_user_rev['Review'].astype(str)
# Apply the function get_sentiment_score to the 'Review' column
df_user_rev['Sentiment_Score'] = df_user_rev['Review'].apply(sentiment_score)
# View the DataFrame
df_user_rev

,User_Id,Posted,Item_Id,Recommend,Review,Year,Sentiment_Score
0,76561197970982479,2011-11-05,1250,True,Simple yet with great replayability. In my opi...,2011,2
0,76561197970982479,2011-07-15,22200,True,It's unique and worth a playthrough.,2011,2
0,76561197970982479,2011-04-21,43110,True,Great atmosphere. The gunplay can be a bit chu...,2011,2
1,js41637,2014-06-24,251610,True,I know what you think when you see this title ...,2014,2
1,js41637,2013-09-08,227300,True,For a simple (it's actually not all that simpl...,2013,2
...,...,...,...,...,...,...,...
25764,wayfeng,2015-10-14,730,True,its FUNNNNNNNN,2015,2
25765,76561198251004808,2015-10-10,253980,True,Awesome fantasy game if you don't mind the gra...,2015,2
25769,72947282842,2015-10-31,730,True,Prettyy Mad Game,2015,0
25771,ApxLGhost,2015-12-14,730,True,AMAZING GAME 10/10,2015,2
25780,76561198267374962,2015-12-29,369200,True,Why I voted yes? 1. Girl characters have boobs...,2015,2

In [237]:
# Remove the 'Review' column from the DataFrame
df_user_rev = df_user_rev.drop(columns=['Review'])

In [238]:
df_user_rev

                 User_Id      Posted Item_Id Recommend  Year  Sentiment_Score
0      76561197970982479  2011-11-05    1250      True  2011                2
0      76561197970982479  2011-07-15   22200      True  2011                2
0      76561197970982479  2011-04-21   43110      True  2011                2
1                js41637  2014-06-24  251610      True  2014                2
1                js41637  2013-09-08  227300      True  2013                2
...                  ...         ...     ...       ...   ...              ...
25764            wayfeng  2015-10-14     730      True  2015                2
25765  76561198251004808  2015-10-10  253980      True  2015                2
25769        72947282842  2015-10-31     730      True  2015                0
25771          ApxLGhost  2015-12-14     730      True  2015                2
25780  76561198267374962  2015-12-29  369200      True  2015                2

[49186 rows x 6 columns]

In [239]:
# Save the DataFrame to a CSV file named 'user_rev.csv' without including the index
df_user_rev.to_csv('CSV/user_rev.csv', index=False)
# Also will save a PARQUET file too
df_user_rev.to_parquet('GZIP/df_user_revs.gzip', compression='gzip')